*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(45, 45, 45, 0.9);
  margin: 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3,
h2,
h1 {
  color: #669ae1;
  text-shadow: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.pagination {
  display: inline;
}

.foot-span {
  color: #56ac88;
  text-shadow: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.25rem 0;
  text-align: left;
}

.title {
  color: #56ac88;
  text-shadow: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.container {
  max-width: 95%;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.grid-3 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
  justify-content: space-evenly;
}

.grid-6 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */
  justify-content: space-evenly;
}
.grid-5 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  /* justify-items: center; */
  justify-content: space-evenly;
}
.grid-2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  /* justify-items: center; */
  justify-content: space-evenly;
}
.left {
  justify-self: left;
}
.right {
  justify-self: right;
}

.grid-menu {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 120px;
  justify-items: center;
  /* justify-content: space-evenly; */
}

.bheader {
  color: #669ae1;
}
.interests {
  padding: 5%;
}

.about {
  padding: 1%;
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.nspan-g {
  color: #56ac88;
  width: 100%;
  height: 100%;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: none;
}

.nspan-r {
  color: #fc913a;
  width: 100%;
  height: 100%;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: none;
}

.cspan {
  color: #fc913a;
  width: 100%;
  height: 100%;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  padding: 2.2rem;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer p {
  margin: 0;
}
.footer p span {
  color: #fc913a;
  width: 100%;
  height: 100%;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

/*--blog---*/

ol,
ul {
  list-style: none;
  padding: 0 1rem;
}

li {
  font-size: 1em;
}

.box {
  padding: 5%;
  text-align: justify;
  margin: 2%;
  /* box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.05); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow, transform ease-out 200ms; */
}
/* .box:hover { 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05, 1.05) translateX(-0.5rem);
 transform: scale(1.02, 1.02) rotate3d(0.2, 0.25, 0, 15deg); 
} */

.border-1 {
  border: 1px solid #555;
  background: #444;
}

.boxshadow {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
  /* box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.05); */
}
.border-2 {
  border: 1px solid #ccc;
  background: #f4f4f4;
}

a,
.alink {
  color: #56ac88;
  text-shadow: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.summary {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.5rem 0;
}
.margin-top {
  margin-top: 5rem;
}

.margin-bottom {
  margin-bottom: 5rem;
}
/* Small Screens */
@media (max-width: 560px) {
  .grid-menu,
  .grid-3,
  .grid-2,
  .grid-5,
  .grid-6 {
    grid-template-columns: 1fr;
  }
  .left,
  .right {
    justify-self: auto;
  }

  .interests div {
    top: 1%;
    /* border-bottom: #333 dashed 1px; */
    padding: 1.2rem 1rem;
  }
}
.inp {
  position: relative;
  margin: 5%;
  display: block;
  padding: 2%;
}
.inp .label {
  position: absolute;
  bottom: 30%;
  right: 5%;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fc913a;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #fc913a;
  background: none;
  border-radius: 0;
  color: #fc913a;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #fc913a;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(0);
}
